.title {
  line-height: 40px;
  font-size: 40px;
}

@media only screen and (max-width: 800px) {
  .title {
    line-height: 30px;
    font-size: 30px;
  }
}

.button-row {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.share-text {
  text-align: center;
  vertical-align: center;
  display: inline-flex;
  align-items: center;
}
