.body {
  font-family: Calibri, sans-serif;
  overflow-y: auto;
}

app-root {
  overflow-y: auto;
}

.master {
  overflow-y: auto;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
}

.top-nav {
  background: white;
  z-index: 5;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  height: 24px;
  vertical-align: center;
  border-bottom: black solid 1px;
}

.center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.word-row-container-desktop {
  z-index: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.word-row-container-mobile {
  z-index: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  .center {
    position: relative;
    bottom: 0;
  }
}

app-word-row {
  display: flex;
  flex-shrink: 10;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  bottom: 0;
}

.button-bar {
  display: flex;
  justify-content: center;
  flex-shrink: 3;
  min-width: 0;
}

.keyboard-button {
  flex-wrap: nowrap;
  background-color: #d3d6da;
  border: none;
  font-size: 24px;
  width: 9%;
  height: 50px;
  padding: 2px;
  margin: 2px;
}

.keyboard-button-wide
{
  flex-wrap: nowrap;
  background-color: #d3d6da;
  border: none;
  font-size: 18px;
  line-height: 18px;
  width: 14%;
  height: 50px;
  padding: 2px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.error-msg {
  color: crimson;
  font-size: 24px;
}

.Wrong {
  background: #787c7e;
  color: white;
  border: none
}

.Close {
  background: #c9b458;
  color: white;
  border: none
}

.Correct {
  background: #6aaa64;
  color: white;
  border: none
}

.timer {
  font-size: 32px;
}
