.body {
  font-family: Calibri, sans-serif;
}

.master {
  width: 500px;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  touch-action: manipulation;
}

.center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

app-word-row {
  display: block;
}

.keyboard {
  display: block;
  bottom: 0;
  width: 500px;
  height: 230px;
}

.button-bar {
  text-align: center;
}

.keyboard-button {
  border: none;
  font-size: 32px;
  width: 40px;
  height: 50px;
  padding: 2px;
  margin: 2px;
}

.keyboard-button-wide
{
  border: none;
  font-size: 32px;
  width: 150px;
  height: 50px;
  padding: 2px;
  margin: 2px;
}

.error-msg {
  color: crimson;
  font-size: 24px;
}

.Wrong {
  background: #787c7e;
  color: white;
  border: none
}

.Close {
  background: #c9b458;
  color: white;
  border: none
}

.Correct {
  background: #6aaa64;
  color: white;
  border: none
}

.timer {
  font-size: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}
