.letter-box {
  background: white;
  text-align: center;
  vertical-align: top;
  display: flex;
  font-size: 40px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  flex-shrink: 10;
}

@media only screen and (max-width: 800px) {
  .letter-box {
    font-size: 25px;
    width: 40px;
    height: 40px;
  }
}

.inner-p {
  margin: 5px;
  line-height: 40px;
  vertical-align: center;
}

.Empty {
  background: white;
  border: 3px solid darkgrey;
}

.Wrong {
  background: #787c7e;
  color: white;
  border: none
}

.Close {
  background: #c9b458;
  color: white;
  border: none
}

.Correct {
  background: #6aaa64;
  color: white;
  border: none
}
